 @font-face {
  font-family: "Hyundai Sans Head KR Bold";
  src:  url("./fonts/HyundaiSansHeadKRBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: "Hyundai Sans Head KR Light";
  src:  url("./fonts/HyundaiSansHeadKRLight.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Hyundai Sans Head KR Regular";
  src:  url("./fonts/HyundaiSansHeadKRRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Hyundai Sans Text KR OTF Bold";
  src:  url("./fonts/HyundaiSansTextKRBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Hyundai Sans Head KR Medium";
  src:  url("./fonts/HyundaiSansTextKRMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: "Hyundai Sans Text Regular";
  src:  url("./fonts/HyundaiSansTextKRRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}