.section_interior {
 background-color:  #F6F3F2;
}

.interior__text {
  padding-top: 103px;
}

.interior__photo__list {
  display: flex;
  margin-top: 668px;
  justify-content: center;
  padding-bottom: 95px;
}

.interior__photo__item {
  width: 275px;
}

.subtitle__black-interior {
  margin-top: 9px;
  padding-right: 27px;
}

